################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InventoryManagement/v14
/InventoryManagement.v12.suo
/DataAccess/obj/Release
/DataAccess/bin/Release
/InventoryManagement/obj
/InventoryManagement/bin
