<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
  <!--<add name="SqlServerDBConnectionString" connectionString="Data Source=(local);Initial Catalog=WaterDelivery;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>-->
 <add name="SqlServerDBConnectionString" connectionString="Server=LENOVO-PC\SQLSERVER14;Database=InventoryManagement;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>